*{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: sans-serif;
    background-color: #004643;
  }
  
  header, nav{
    padding: 20px;
    color: #abd1c6;
    position: sticky;
    top: 0;
  }
  main{
    height: 1200px;
    padding: 20px;
    background-color: #e8e4e6;
    margin: 10px;
  }

  aside {
    position: absolute;
    right: 2vw;
    bottom: 0;
  }
  
  section{
    height: 120px;
    width: 180px;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
  }

  .fixado {
    text-align: center;
  }
  
  .fundo-de-outra-cor:active{
    background-color: green;
  }


  nav{
    padding: 20px;
    background-color: white;
  }
  
  footer{
    background-color: #abd1c6;
    padding: 20px;
  }

  footer:hover{
    background-color: yellow;
  }
